<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRIVY_APP_ID</key>
	<string>cmnttqw3q038x0cle8vnlki39</string>
	<key>PRIVY_APP_CLIENT_ID</key>
	<string>cmnttqw3q038x0cle8vnlki39</string>
	<key>GEMINI_API_KEY</key>
	<string>YOUR_KEY_HERE</string>
	<key>GOOGLE_PLACES_API_KEY</key>
	<string>YOUR_KEY_HERE</string>
	<key>SUPABASE_URL</key>
	<string>https://gnvpjtgmtdfhfwewjrdu.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdudnBqdGdtdGRmaGZ3ZXdqcmR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NjA1MDEsImV4cCI6MjA5MTQzNjUwMX0.FLb20jP316koAZyjSCn4zw23FknJMYs8g5YSQmKvjD8</string>
</dict>
</plist>
